.forgot-password-section
{
      background-image: url('/img/verticallogin.jpg');
       background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "Merriweather, serif";
}
.forgot-container
{
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  opacity: 0.95;
  min-width: 450px;
  min-height: 150px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}
.nueva-contrasena{
  color: #a2231d;
  padding-right: 15px;
}
.ojito-ojo{
  color: #888;
}
.input-horizontal {
  display: flex;
  align-items: center;
  gap: 12px; /* espacio entre elementos */
  margin-bottom: 25px;
}