
.login-section {
  background-image: url('/img/verticallogin.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: "Merriweather, serif";
}

.login-card {
  width: 100%;
  max-width: 500px;
}

.login-container {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  opacity: 0.95;
  min-width: 450px;
  min-height: 550px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
}

.login-card-inner {
    margin-top: 50px;
  text-align: center;
}

.login-card-inner h3 {
  white-space: nowrap;
  overflow-wrap: break-word;
}
